<div class="row content">
  <div class="col-6 col-sm-6" style="padding: 0px 60px;">
    <div class="flex-colum">

      <div class="form-group search-box">
          <form class="card card-sm" style="height: 60px;">
              <div class="card-body row no-gutters align-items-center">
                  <div class="col-auto">
                      <i class="fas fa-search h4 text-body"></i>
                  </div>
                  <!--end of col-->
                  <div class="col">
                      <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                  </div>
                  <!--end of col-->
                  <div class="col-auto">
                      <button class="btn btn-lg btn-success" type="submit">Search</button>
                  </div>
                  <!--end of col-->
              </div>
          </form>
      </div>

      <div class="flex-row" style="margin-bottom: 1rem;">
        <div class="box-text-toggle" [ngClass]="{'toggle-selected': toggleLoaiChuyenDi==false}">
          <p class="text-toggle">Đi ngay</p>
        </div>
        <div>
          <label class="switch">
            <input type="checkbox" value="toggleLoaiChuyenDi" (change)="toggleLoaiChuyenDi=!toggleLoaiChuyenDi">
            <span class="slider"></span>
          </label>
        </div>
        <div class="box-text-toggle" [ngClass]="{'toggle-selected': toggleLoaiChuyenDi==true}">
          <p class="text-toggle">Lên lịch trước</p>
        </div>

      </div>
      <div class="form-group flex-row">
        <label style="width: 120px;">Điểm đi:</label>
        <input type="text" class="form-control" [(ngModel)]="diaChiDiemDi">
        <button (click)=setDiemDi()>SET</button>
      </div>
      <div class="form-group flex-row">
        <label style="width: 120px;">Điểm đến:</label>
        <input type="text" class="form-control" [(ngModel)]="diaChiDiemDen">
        <button (click)=setDiemDen()>SET</button>
      </div>
      <div class="form-group flex-row">
          <button style="width: 120px;" type="button" class="btn btn-default">Tìm</button>
      </div>

      <div class="form-group flex-row">
        <label style="width: 120px;">Hẹn giờ book:</label>
          <angular2-date-picker style="width: 20rem;" [(ngModel)]="date" [settings]="settings"></angular2-date-picker>
      </div>

      <div class="button-group row">
        <div class="col-1 col-md-1">

        </div>
        <div class="col-5 col-md-5" style="text-align: right;">
          <button style="width: 12rem;" type="button" class="btn btn-success" (click)="bookLich()">Book</button>
        </div>
        <div class="col-5 col-md-5" style="text-align: right;">
          <button style="width: 12rem;" type="button" class="btn btn-default">Ghi nhớ chuyến đi</button>
        </div>
        <div class="col-1 col-md-1">
        </div>
      </div>

    </div>
  </div>
  <div class="col-6 col-sm-6" *ngIf="lat && lng">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" (mapClick)="mapClicked($event)">
      <agm-marker [latitude]="lat" [longitude]="lng">
        <agm-info-window>
          <p>Bạn đang ở đây</p>
        </agm-info-window>
      </agm-marker>

      <agm-marker [latitude]="latTemp" [longitude]="lngTemp">
      </agm-marker>

      <agm-marker class="location" *ngFor="let marker of khachhang" [latitude]="marker.vitri.lat" [longitude]="marker.vitri.lng"
        [iconUrl]="icon">

        <agm-info-window>
                    <p>--Địa chỉ--</p>
                    <p aria-placeholder="cái gì đó">Party: 3</p>
                  </agm-info-window>

      </agm-marker>
    </agm-map>
  </div>
  <div class="tipGoiY">
    <p>*Tip: bạn có thể chủ động chọn người lái nào bạn cảm thấy thích trên bản đồ</p>
    <!-- <p>*Lưu ý: việc chọn lái xe cụ thể có thể sẽ làm bạn chậm hoặc không thể book được chuyến đi</p> -->
  </div>
</div>