.flex-colum{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
    align-content: center;
    
}

.flex-row{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        align-content: center;
}

.content{
    width: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 40px 100px;
    background-color: aqua;
    border-radius: 90px;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0.3, #50d2a8),color-stop(0.7, #cbe292));
}

.custom-button{
    width: 7rem !important;
}

.text-title{
    font-family: cursive;
    text-align: center;
    font-size: 40px;
    margin: 0px 0px 30px 0px;
}

.body{
    background-image: url("../../../assets/connect-home-image-0118.png")
}

